@charset "utf-8";

.x-cell {
	border-top: 0.01rem solid #e5e5e5;
	border-bottom: 0.01rem solid #e5e5e5;
	background: #fff;
	overflow: hidden;
	margin-left: -0.3rem;
	margin-right: -0.3rem;
	&__row {
		padding: 0.3rem;
		font-size: 0.3rem;
		position: relative;
		border-bottom: 0.01rem solid #e5e5e5;
		&:last-child {
			border-bottom: none;
		}
	}
	@at-root .x-cell a.x-cell__row {
		&:active {
			background: #fafafa;
		}
	}
}