@charset "utf-8";

.x-switch {
	display: block;
	width: 1rem;
	height: 0.44rem;
	background-color: #ddd;
	border-radius: 0.22rem;
	-webkit-transition: all 0.3s ease-out;
	position: relative;
	box-shadow: 0 0 0 0 rgba(0,187,68,0) inset;
	em {
		display: block;
		border-radius: 50%;
		width: 0.36rem;
		height: 0.36rem;
		position: absolute;
		left: 0.04rem;
		top: 0.04rem;
		background-color: #fff;
		-webkit-transition: all 0.3s ease-out;
	}
	&--active {
		box-shadow: 0 0 0 0.1rem rgba(0,187,68,1) inset;
		background-color: #00bb44;
		em {
			-webkit-transform: translate(0.56rem, 0);
		}
	}
}