@charset "utf-8";

.x-input {
	display: -webkit-box;
	-webkit-box-align: stretch;
	height: 0.88rem;
	input.x-input__ipt {
		font-size: 0.3rem;
		display: block;
		-webkit-box-flex: 1;
		width: 100%;
		line-height: 1.5;
		color: #333;
		padding: 0.2rem;
		height: 0.88rem;
		border: 0.02rem solid #e6e6e6;
		border-radius: 0.05rem;
		background: #fff;
		font-weight: normal;
		-webkit-transition: all 0.1s ease-out;
		&::-webkit-input-placeholder {
			color: #b4b4b4;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:focus {
			border: 0.02rem solid #02bb55;
			position: relative;
			z-index: 2;
			box-shadow: 0 0 0.1rem rgba(2, 187, 85, 0.3);
		}
	}
	&--error {
		input.x-input__ipt {
			border: 0.02rem solid #ff6600;
			box-shadow: 0 0 0.1rem rgba(255, 102, 0, 0.3);
		}
	}
	&__line {
		display: block;
		width: 0.01rem;
		height: 100%;
		background: #f0f;
		overflow: hidden;
	}
	&__addonafter {
		display: -webkit-box;
		-webkit-box-align: center;
		height: 100%;
		background: #fff;
		border: 0.02rem solid #e6e6e6;
		border-left: none;
		border-radius: 0.05rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-size: 0.3rem;
	}
}