@charset "utf-8";
// @import 'src/assets/css/config.scss';

.comp-popup__content {
	position: absolute;
	width: 100%;
	background: #fff;
	pointer-events: auto;
	z-index: 9;
	// @include flex;
	// @include flexVeritical;
	max-height: 70%;
	min-height: 70%;
	// color: $color;
	font-size: 0.26rem;
	line-height: 0.46rem;
	>h1{
		color: #000;
		font-size: 0.32rem;
		text-align: center;
		line-height: 0.48rem;
		margin-bottom: 0.1rem;
		padding: 0.3rem 0.5rem 0 0.5rem;
	}
	>h2{
		text-align: center;
		color: #000;
		font-size: 0.26rem;
		line-height: 0.46rem;
		padding: 0 0.5rem;
		margin-bottom: 0.2rem;
	}
	&__text{
		position: relative;
		padding: 0 0.5rem;
		margin-bottom: 0.2rem;
		// @include flexAuto;
		-webkit-overflow-scrolling: touch;
		overflow: hidden;
		overflow-y: auto;
		p{
			color: rgb(51, 51, 51);
			width: 100%;
			word-break: break-word;
			word-wrap: break-all;
		}
	}
	&--cell {
		background: #f5f5f5;
		min-height: 0;
		.comp-popup__close {
			padding: 0;
			margin-top: 0.2rem;
		}
		.x-cell__row {
			text-align: center;
			&:active {
				background-color: #fafafa;
			}
		}
	}
}

.comp-popup__close{
	width: 100%;
	background: #fff;
	display: block;
	padding: 0 0.5rem 0.2rem 0.5rem;
	>a{
		display: block;
		width: 0.8rem;
		height: 0.8rem;
		background: url("./icon_close.png") 50% no-repeat;
		background-size: 0.5rem;
		margin: 0 auto;
		font-size: 0.26rem;
		line-height: 0.88rem;
		&:active{
			opacity: 0.7;
		}
	}
}

.comp-modal__slideUp{
	.comp-popup__content{
		bottom: 0;
	}
}



.comp-modal__slideDown{
	.comp-popup__content{
		top: 0;
	}
}


.comp-modal__dialog{
	.comp-popup__content{
		min-height: 60%;
		max-height: 60%;
		top: 20%;
		left: 11%;
		width: 78%;
	}
	.comp-popup__close__btn{
		background: none;
	}
}
