<!doctype html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="//carphoto.atzuche.com" />
    <link rel="preload" href="//carphoto.atzuche.com/web/auto/js/libs/v1/react.js" as="script" />
    <link rel="preload" href="//carphoto.atzuche.com/web/auto/js/libs/v1/core.js" as="script" />

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    
    <title>title</title>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <script>
    +function(k){var j=window;var n=j.document;var e=n.documentElement;var h=e.clientWidth;h=h/k*100;h-=(h-50)/2;var a=navigator.userAgent;var i=a.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i);var _qq=i&&a.match(/QQ/gi);var d=a.match(/U3\/((\d+|\.){5,})/i);var f=d&&parseInt(d[1].split(".").join(""),10)>=80;var c=navigator.appVersion.match(/(iphone|ipad|ipod)/gi);var m=j.devicePixelRatio||1;if((!c&&!(i&&i[1]>534)&&!f)||_qq){m=1}var g=1/m;var l=n.querySelector('meta[name="viewport"]');l.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+g+",maximum-scale="+g+",minimum-scale="+g);if(!l){l=n.createElement("meta");l.setAttribute("name","viewport");n.head.appendChild(l)}e.style.fontSize=Math.round(h*m)+"px";window.rem=Math.round(h*m);window.dpr=m}(750)
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script src="//carphoto.atzuche.com/web/auto/js/libs/v1/react.js"></script>
    <script src="//carphoto.atzuche.com/web/auto/js/libs/v1/core.js"></script>
  </body>
</html>
