@charset "utf-8";

.view-demo {
	padding-top: 0.6rem;
	h1 {
		text-align: center;
		color: #3f3f81;
		font-size: 0.4rem;
		margin-bottom: 0.2rem;
	}
	p {
		text-align: center;
		font-size: 0.3rem;
		line-height: 1.2;
		color: #999;
		margin-bottom: 1rem;
	}

	.logo {
		width: 1.5rem;
		height: 1.5rem;
		background: url('../../assets/imgs/logo.png');
		background-size: 100%;
		margin: 0 auto;
	}

	.demo {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		width: 100%;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}
	
	.hd {
		display: -webkit-box;
		margin-bottom: 0.2rem;
	}

	.btn {
		margin: 0 0.1rem;
	}

}

