@charset "utf-8";

.view-demo {
	border: 1px solid #333;
	padding: 20px;
	.title {
		display: block;
		font-size: 24px;
		text-align: center;
		line-height: 1.5;
		margin: 0;
	}
	.info {
		display: block;
		font-size: 12px;
		text-align: center;
		line-height: 1.2;
		color: #999;
		margin-bottom: 20px;
	}
}