@charset "utf-8";

.x-loading {
	position: fixed;
	left: 0;
	top: 0;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 100%;
	height: 100%;
	z-index: 99995;
	background: rgba(0,34,54,0.2);
	sup {
		position: static;
		display: block;
		width: 0.6rem;
		height: 0.6rem;
		background: url(./loading.svg);
		background-size: 100% 100%;
		-webkit-transform-origin: center;
		-webkit-animation: "___x_loading_rotate" 1s linear infinite;
		animation: "___x_loading_rotate" 1s linear infinite;
	}
	&__inner {
		opacity: 0;
		-webkit-transform-origin: 50%;
		p {
			display: -webkit-box;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			background: rgba(0,0,0,0.7);
			padding: 0.2rem;
			border-radius: 0.1rem;
			color: #fff;
			font-size: 0.24rem;
		}
		p sup {
			margin-right: 0.1rem;
			width: 0.4rem;
			height: 0.4rem;
		}
	}
	&--show {
		.x-loading__inner {
			-webkit-transform: scale(1,1);
			opacity: 1;
			-webkit-animation: "___x_loading_show" 0.2s ease-out;
		}
		@at-root {
			@-webkit-keyframes "___x_loading_show" {
				0% { -webkit-transform: scale(1.4,1.4); opacity: 0;}
				75% { -webkit-transform: scale(0.95,0.95); opacity: 1;}
				100% { -webkit-transform: scale(1,1); opacity: 1;}
			}
		}
	}
	&--hide {
		opacity: 0;
		-webkit-transition: opacity 0.15s ease-out;
		pointer-events: none;
		.x-loading__inner {
			-webkit-transform: scale(0.95,0.95);
			-webkit-transition: all 0.15s ease-out;
		}
	}
	@at-root {
		@-webkit-keyframes "___x_loading_rotate" {
			0% {-webkit-transform: rotate(0);}
			100% {-webkit-transform: rotate(360deg);}
		}
	}
}